# OOPs Concept in Python

In [24]:
class emp:
    def __init__(self,name,age,designation):
        self.name=name
        self.age=age
        self.designation=designation
    def display_data(self):
        print(f"empl name is: {self.name}")
        print(f"empl age is : {self.age}")
        print(f"emp designation is : {self.designation}")
data=emp("Deepak",23,"python developer")
data.display_data()

empl name is: Deepak
empl age is : 23
emp designation is : python developer

In [6]:
class mydata:
    def __init__(self,name,address,mobile_no,city):
        self.name=name
        self.address=address
        self.mobile_no=mobile_no
        self.city=city
    def display_data(self):
        print(f"he is name is :{self.name} ")
        print(f"he is address is :{self.address}")
        print(f"he is mobile_no is {self.mobile_no}")
        print(f"he is city is : {self.city}")
a=mydata("raj","kandivali",7766885599,"mumbai")
a.display_data()

he is name is :raj
he is address is :kandivali
he is mobile_no is 7766885599
he is city is : mumbai

In [7]:
a.name

'raj'

In [8]:
a.mobile_no

7766885599

In [10]:
a.city

'mumbai'

In [11]:
a.address

'kandivali'

In [29]:
class new_data:
    def __init__(self,designation):
        self.designation=designation
    def say_hello(self):
        print(f"he is designation is : {self.designation}")
e1=new_data("python developer")
e1.say_hello()

he is designation is : python developer
a 10
b 20

In [13]:
e1.designation

'python developer'

In [30]:
def mydata(**kwags):
    for k,v in kwags.items():
            print(k,v)
a={"a":10,"b":20}
mydata(**a)

a 10
b 20

In [7]:
class data:
    def __init__(self,name,age,designation,hobbies):
        self.name=name
        self.age=age
        self.designation=designation
        self.hobbies=hobbies
    def display_info(self):
        print(self.name)
        print(self.age)
        print(self.designation)
        print(self.hobbies)
a=data("karan",25,"full stack developer","cricket")
a.display_info()

karan
25
full stack developer
cricket

In [13]:
a.name

'karan'

# Constructor: Constructor are just a special type of method. It is called automatically during object creation of a class.Constructors are used generally to initializing the value.

In [15]:
class contact:
    def __init__(self,name,contact,ctc):
        self.name=name
        self.contact=contact
        self.ctc=ctc
    def mydata(self):
        print("employee name is :",self.name)
        print("employee contact_no is :",self.contact)
        print("employee ctc is : ",self.ctc)
    def data(**kwags):
        for k,v in kwags.items():
            print(k,v)
    a={"a":100,"b":200,"c":300,"d":400,"e":500}
    data(**a)
    def developer(*args):
        print(args)
    b=["aryan","manisha","mamata","shiv","nita"]
    developer(*b)
res=contact("arjun",77886688,12000)
res.mydata()

a 100
b 200
c 300
d 400
e 500
('aryan', 'manisha', 'mamata', 'shiv', 'nita')
employee name is : arjun
employee contact_no is : 77886688
employee ctc is :  12000

# Python function

## A function is a block of code which only runs when it is called.You can pass data, known as parameters.

In [16]:
def mydata():
    name="nitara"
    return name
mydata()

'nitara'

# Creating a Function:
## In Python a function is defined using the def keyword:

In [19]:
city="mumbai" #global variable
def data():
    name="Deepak" #local variable
    print(name)
    print(city)
data()

Deepak
mumbai

In [21]:
def data_info(a,b):
    return a*b
data_info(10,20)

200

In [24]:
def mysequence(a,b,c):
    print(a*b+c)
mysequence(10,20,30)

230

In [30]:
def devel_data(*num):
    print(num)
a=[10,20,30]
b=[44,55,66]
a.extend(b)
devel_data(*a)

(10, 20, 30, 44, 55, 66)

In [45]:
def set_data(*data):
    print(data)
#     for x in data:
#         print(x)
a=[10,20,30,40,50]
b={1,2,3,4,5,6,7,8}
c=("a","b","c","d","e")
set_data(*a,*b,*c)

def lst_data(**dicts):
    for x,y in dicts.items():
        print(x,y)
s={"a":10,"b":20}
lst_data(**s)

(10, 20, 30, 40, 50, 1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e')
a 10
b 20

In [2]:
class const:
    def __init__(self,name):
        self.name=name
    def display_data(self):
        print(f"he is name is: {self.name}")
a=const("shiv")
a.display_data()

he is name is: shiv

In [3]:
a.name

'shiv'

In [60]:
class job_roll:
    increment_rate= 3
    
    
    def __init__(self,name,age,city,designation,salary):
        self.name=name
        self.age=age
        self.city=city
        self.designation=designation
        self.salary=salary
        
        
    def info_data(self):
        print(f"employee name is: {self.name}")
        print(f"employee age is : {self.age}")
        print(f"employee city is: {self.city}")
        print(f"employee designation is: {self.designation}")
        print(f"employee salary is: {self.salary}")
        
        
    def data(self):
        self.salary=self.salary*self.increment_rate

In [61]:
a=job_roll("akshita",26,"mumbai","python developer",7000)

In [62]:
a.info_data()

employee name is: akshita
employee age is : 26
employee city is: mumbai
employee designation is: python developer
employee salary is: 7000

In [63]:
a.data()

In [64]:
a.info_data()

employee name is: akshita
employee age is : 26
employee city is: mumbai
employee designation is: python developer
employee salary is: 14000

In [65]:
a.salary

14000

In [68]:
a.info_data()

employee name is: akshita
employee age is : 26
employee city is: mumbai
employee designation is: python developer
employee salary is: 14000

# increment rate-3

In [70]:
a.data()

In [71]:
a.info_data()

employee name is: akshita
employee age is : 26
employee city is: mumbai
employee designation is: python developer
employee salary is: 28000

In [72]:
a.salary

28000

In [73]:
a.name

'akshita'

In [74]:
a.designation

'python developer'

In [76]:
def multiply(*num):
    mul=1
    for x in num:
        mul=mul*x
    return mul
multiply(1,2,3,4,5,15)

1800

In [86]:
def data(*num):
    print(num)
a=[10,20,30,40]
data(*a)

(10, 20, 30, 40)

In [90]:
def paper(*num):
    add=1
    for x in num:
        add=add+x
    return add
paper(10,20,30)

60

In [96]:
even=[]
odd=[]
city="mumbai"
def data():
    name="shiva"
    print(city)
    print(name)
    for x in range(1,20):
        if x%2==0:
            even.append(x)
        elif x%2!=0:
            odd.append(x)
    print(even)
    print(odd)
data()

mumbai
shiva
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]