In [4]:
data="my name is deepak 4555 back come "
print(data.find("4"))

18

In [1]:
res="deepak"
res.swapcase()
res

'deepak'

In [20]:
import string
data=string.ascii_letters
data

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [1]:
intp=input('Enter the number: ')
data=input('Enter the num: ')
res=intp[0:3].upper()+data[0:-2]
res

Enter the number: pineapple
Enter the num: 45ml

'PIN45'

In [7]:
data="Deepak"
for i in range(len(data)):
    for j in range(len(data)):
        print("*",end="")
    print()

******
******
******
******
******
******

In [15]:
def data(n):
    for i in n:
        if i%2==0:
            print(f"{i} is even")
        else:
            print(f"{i} is odd")
n=[4,5,45,77,89,64]
data(n)

4 is even
5 is odd
45 is odd
77 is odd
89 is odd
64 is even

In [27]:
try:    
    data=int(input('Enter the number: '))

    for i in range(data):
        a=int(input('Enter the number: '))
        if a>=2 and a<=10:
            print("child")
        elif a>=12 and a<=20:
            print('you are younger')
        else:
            print("old man")
except Exception as e:
    e=None

Enter the number:

In [36]:
for i in range(1,10):
    for j in range(10-i):
        print(" ",end="")
    for k in range(i):
        print("* ",end="")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [37]:
import os
data=os.getcwd()
data

'C:\\Users\\ARVIND'

In [41]:
data=os.listdir("C:\\Users\\ARVIND")
data

['.bash_history',
 '.conda',
 '.condarc',
 '.continuum',
 '.git',
 '.gitconfig',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.lesshst',
 '.ssh',
 '.viminfo',
 '.vscode',
 '.vscode-cli',
 'anaconda3',
 'AppData',
 'Application Data',
 'array.bin',
 'Assignment-itvedant.ipynb',
 'built in method in python.ipynb',
 'Contacts',
 'Cookies',
 'data',
 'data.py',
 'data.txt',
 'data_movies_project.ipynb',
 'Deepak sahani',
 'deepak.ipynb',
 'docstring in python.ipynb',
 'Documents',
 'Downloads',
 'Favorites',
 'flipkart scarpping.ipynb',
 'Flipkart scraping.ipynb',
 'flipkart web scrapping.csv',
 'FlipKart.csv',
 'jarvish notepad',
 'javascripts.ipynb',
 'jobs titles.csv',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'mysql_connector in python.ipynb',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'OOPs concept in Python.ipynb',
 'PrintHood',
 'project-movies_scraper.csv',
 'project_movies_web_scrapers.ipynb',
 'Recent',
 'Regex.ipynb',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Temp',
 'Templates',
 'test.json',
 'test.txt',
 'text.txt',
 'Untitled-html.html',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Videos',
 'w3school scraping.ipynb',
 'web scaping movies.ipynb',
 'web scraping jobs times.ipynb',
 'web_scraping_project.ipynb']

In [43]:
res=os.scandir("C:\\Users\\ARVIND")
list(res)

[<DirEntry '.bash_history'>,
 <DirEntry '.conda'>,
 <DirEntry '.condarc'>,
 <DirEntry '.continuum'>,
 <DirEntry '.git'>,
 <DirEntry '.gitconfig'>,
 <DirEntry '.idlerc'>,
 <DirEntry '.ipynb_checkpoints'>,
 <DirEntry '.ipython'>,
 <DirEntry '.jupyter'>,
 <DirEntry '.lesshst'>,
 <DirEntry '.ssh'>,
 <DirEntry '.viminfo'>,
 <DirEntry '.vscode'>,
 <DirEntry '.vscode-cli'>,
 <DirEntry 'anaconda3'>,
 <DirEntry 'AppData'>,
 <DirEntry 'Application Data'>,
 <DirEntry 'array.bin'>,
 <DirEntry 'Assignment-itvedant.ipynb'>,
 <DirEntry 'built in method in python.ipynb'>,
 <DirEntry 'Contacts'>,
 <DirEntry 'Cookies'>,
 <DirEntry 'data'>,
 <DirEntry 'data.py'>,
 <DirEntry 'data.txt'>,
 <DirEntry 'data_movies_project.ipynb'>,
 <DirEntry 'Deepak sahani'>,
 <DirEntry 'deepak.ipynb'>,
 <DirEntry 'docstring in python.ipynb'>,
 <DirEntry 'Documents'>,
 <DirEntry 'Downloads'>,
 <DirEntry 'Favorites'>,
 <DirEntry 'flipkart scarpping.ipynb'>,
 <DirEntry 'Flipkart scraping.ipynb'>,
 <DirEntry 'flipkart web scrapping.csv'>,
 <DirEntry 'FlipKart.csv'>,
 <DirEntry 'jarvish notepad'>,
 <DirEntry 'javascripts.ipynb'>,
 <DirEntry 'jobs titles.csv'>,
 <DirEntry 'Links'>,
 <DirEntry 'Local Settings'>,
 <DirEntry 'Music'>,
 <DirEntry 'My Documents'>,
 <DirEntry 'mysql_connector in python.ipynb'>,
 <DirEntry 'NetHood'>,
 <DirEntry 'NTUSER.DAT'>,
 <DirEntry 'ntuser.dat.LOG1'>,
 <DirEntry 'ntuser.dat.LOG2'>,
 <DirEntry 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf'>,
 <DirEntry 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms'>,
 <DirEntry 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms'>,
 <DirEntry 'ntuser.ini'>,
 <DirEntry 'OneDrive'>,
 <DirEntry 'OOPs concept in Python.ipynb'>,
 <DirEntry 'PrintHood'>,
 <DirEntry 'project-movies_scraper.csv'>,
 <DirEntry 'project_movies_web_scrapers.ipynb'>,
 <DirEntry 'Recent'>,
 <DirEntry 'Regex.ipynb'>,
 <DirEntry 'Saved Games'>,
 <DirEntry 'Searches'>,
 <DirEntry 'SendTo'>,
 <DirEntry 'Start Menu'>,
 <DirEntry 'Temp'>,
 <DirEntry 'Templates'>,
 <DirEntry 'test.json'>,
 <DirEntry 'test.txt'>,
 <DirEntry 'text.txt'>,
 <DirEntry 'Untitled-html.html'>,
 <DirEntry 'Untitled.ipynb'>,
 <DirEntry 'Untitled1.ipynb'>,
 <DirEntry 'Untitled2.ipynb'>,
 <DirEntry 'Untitled3.ipynb'>,
 <DirEntry 'Untitled4.ipynb'>,
 <DirEntry 'Untitled5.ipynb'>,
 <DirEntry 'Videos'>,
 <DirEntry 'w3school scraping.ipynb'>,
 <DirEntry 'web scaping movies.ipynb'>,
 <DirEntry 'web scraping jobs times.ipynb'>,
 <DirEntry 'web_scraping_project.ipynb'>]

In [69]:
for i in range(1,10):
    for j in range(10-i):
        print(" ",end="")
    for k in range(i):
        print("* ",end="")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [85]:
data="apple7899"
for char in range(len(data)):
    if (data[char]=="a" or data[char]=="e" or data[char]=="l"):
        print(data[char])

a
l
e

In [84]:
data="apple"
for i in range(len(data)):
    print(i,data[i])

0 a
1 p
2 p
3 l
4 e

In [96]:
tup=(45,20,35)
lists=(88,99,77)
data=(tup+lists)
data

(45, 20, 35, 88, 99, 77)

In [112]:
res=lambda a,b,c:a+list(b)+list(c)
data=res([12,35,77],(45,68,99),c)
print(set(data))

{66, 35, 68, 99, 12, 45, 77}

In [11]:
a=["app","bo"]
b=["le","y"]
res=[k+v for k,v in zip(a,b)]
res

['apple', 'boy']

In [46]:
n=input('Enter the number: ')
lst=[]
for i in n:
    if str(i).lower() in "aeiou":
        lst.append(i)
print(lst)

Enter the number: xnkaiuoua
['a', 'i', 'u', 'o', 'u', 'a']

In [48]:
data=input('Enter the number: ')
count=0
for i in data:
    if i=="a":
        count+=1
print(count)

Enter the number: arvinddeepak
2

In [53]:
for i in range(10):
    for j in range(10-i):
        print(" ",end="")
    for k in range(i):
        print("* ",end="")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [2]:
for i in range(10):
    for j in range(10-i):
        print(" ",end="")
    for k in range(i):
        print("* ",end="")
    print("\t")

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [3]:
for i in range(10):
    for j in range(10-i):
        print(" ",end="")
    for k in range(i):
        print("* ",end="")
    print()
for i in range(10,0,-1):
    for j in range(10-i):
        print(" ",end="")
    for k in range(i):
        print("* ",end="")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [19]:
def data(n):
    lst=[]
    for i in n:
        if i.lower() in "aioue":
            if i not in lst:
                lst.append(i)
        else:
            None
    print(lst)
n=input('ENTER the number: ')
data(n)

ENTER the number: akisaaAIA
['a', 'i', 'A', 'I']

In [1]:
data=[11,12,11,44,12,56,78]
lst=[]
for i in data:
    if i not in lst:
        lst.append(i)
print(lst)

[11, 12, 44, 56, 78]

In [4]:
def data(n):
    lst=[]
    for i in n:
        if i not in lst:
            lst.append(i)
    print(lst)
data([12,45,65,12])
data([12,45,65,11,11,45])
data([12,45,65,12])
data([12,45,65,12])

[12, 45, 65]
[12, 45, 65, 11]
[12, 45, 65]
[12, 45, 65]

In [10]:
n=input('Enter the number: ')
lst=[]
for i in n:
    if i.lower() in "aeiou":
        if i not in lst:
            lst.append(f"it is vowels {i}")
    else:
        lst.append(f"it is not an vowels {i}")
print(lst)

Enter the number: axsnakm
['it is vowels a', 'it is not an vowels x', 'it is not an vowels s', 'it is not an vowels n', 'it is vowels a', 'it is not an vowels k', 'it is not an vowels m']

In [21]:
lst=[12, 35, 9, 56, 24]
x=lst[0],lst[-1]=lst[-1],lst[0]
x

(24, 12)

In [48]:
lst=[12,25,35,66,45,78]
lst[2],lst[-3]=lst[-3],lst[2]
lst

[12, 25, 66, 35, 45, 78]

In [60]:
def data(n):
    data=n
    data[0],data[-1]=data[-1],data[0]
    return data
print(data([24,45,77,89,66,55]))
print(data([90,45,77,89,66,100]))
print(data([144,45,77,89,66,120]))
print(data([240,45,77,89,66,350]))

[55, 45, 77, 89, 66, 24]
[100, 45, 77, 89, 66, 90]
[120, 45, 77, 89, 66, 144]
[350, 45, 77, 89, 66, 240]

In [21]:
def charCount(n):
    count=0
    for i in n:
        if i=="b":
            count+=1
    return count
charCount("bbbbb")

5

In [71]:
n=input('Enter the number: ')
lst={}
for i in n:
    lst[i]=n.count(i)
print(lst)

Enter the number: 464655
{'4': 2, '6': 2, '5': 2}

In [74]:
def main(data):
    sets={}
    for i in data:
        sets[i]=data.count(i)
    return sets
data=input('Enter the values: ')
main(data)

Enter the values: smknasjknckjhnakcha45454552311

{'s': 2,
 'm': 1,
 'k': 4,
 'n': 3,
 'a': 3,
 'j': 2,
 'c': 2,
 'h': 2,
 '4': 3,
 '5': 4,
 '2': 1,
 '3': 1,
 '1': 2}

In [2]:
intp=input('Enter the number: ')
data=input('Enter the num: ')
res=intp[0:3].upper()+data[0:-2]
res

Enter the number: apple
Enter the num: 45,l

'APP45'

In [4]:
data=[2,4,6,8,10]
res=[num**2 for num in data]
res

[4, 16, 36, 64, 100]

In [5]:
def data(n):
    data=n
    data[0],data[-1]=data[-1],data[0]
    return data
data([4,5,6])

[6, 5, 4]

In [22]:
a=[10,20,4,5,6]
b=[12,45,66,10]
res=[a for a in a+b]
res

[10, 20, 4, 5, 6, 12, 45, 66, 10]

In [15]:
a=(10,20,30)
b=(44,55,66)
res=tuple([a for a in a+b])
res

(10, 20, 30, 44, 55, 66)

In [35]:
lst=[4,5,6,"hello",8,4,6]
data=[]
for i in lst:
    if i not in data:
        data.append(i)
print(data)

[4, 5, 6, 'hello', 8]

In [5]:
data=["bom","non","deep"]
res=[x[0:2] for x in data]
res

['bo', 'no', 'de']

In [6]:
res=[len(x) for x in data]
res

[3, 3, 4]

In [7]:
res=" ".join(data)
res

'bom non deep'

In [1]:
n=0
while n<=12:
    print(n)
    n+=1

0
1
2
3
4
5
6
7
8
9
10
11
12

In [27]:
n = int(input('Enter the number: '))

def prime(n):
    count = 0
    for i in range(1, n+1):
        if n % i == 0:
            count += 1

    if count == 2:
        print(f'{n} is a prime number')
    else:
        print(f'{n} is a composite number')

prime(n)

Enter the number: 8
8 is a composite number

In [17]:
n=int(input('Enter the number: '))
lst=[]
for i in range(n):
    if i%2==0:
        lst.append(f"even number is {i}")
    else:
        lst.append(f"odd number is {i}")
print(lst)

Enter the number: 4
['even number is 0', 'odd number is 1', 'even number is 2', 'odd number is 3']

In [35]:
n=int(input('Enter the number: '))
count=0
for i in range(1,10):
    if n%i==0:
        count+=1
if count==2:
    print(f'it is prime number {n}')
else:
    print(f"composite number {n}")

Enter the number: 53
composite number 53

In [34]:
n = int(input('Enter the number: '))

def is_prime(n):
    if n < 2:
        return False

    for i in range(2, n):
        if n % i == 0:
            return False

    return True

if is_prime(n):
    print(f'{n} is a prime number')
else:
    print(f'{n} is not a prime number')

Enter the number: 53
53 is a prime number

In [7]:
n=int(input('enter the num: '))
a,b=0,1
c=0
for i in range(n):
    a=b
    b=c
    c=a+b
    print(c,end="  ")
# fibonaccie series

enter the num: 14
1  1  2  3  5  8  13  21  34  55  89  144  233  377

In [3]:
def swaplist(n):
    n[0],n[-1]=n[-1],n[0]
    return n
swaplist([12,45,56,23])
swaplist([12,45,56,50])

[50, 45, 56, 12]

In [4]:
data=[111,123,45,111]
lst=[]
for i in data:
    if i not in lst:
        lst.append(i)
print(lst)

[111, 123, 45]

In [6]:
a="my name is deepak"
x=a.split()
print(x)

['my', 'name', 'is', 'deepak']

In [18]:
import re
a=" deepak                   sahani                  good coder"
patt="\s+"
match=re.sub(patt," ",a)
print(match)

 deepak sahani good coder

In [21]:
place="mumbai is a big city as compare to gujrat 5566 !"
print(len(place))
for item in place:
    if item.isdigit():
        print(item)

48
5
5
6
6

In [2]:
n=input('Enter the number: ')
lst=[]
data=[]
for i in n:
    if i.isdigit():
        lst.append(i)
    elif i.isalpha() or i.upper():
        data.append(i)
    else:
        None
print(lst)
print(data)

Enter the number:
[]
[]

In [27]:
a=[45,32,45,68]
b=[88,99,77,85]

In [30]:
lst=['Geeks', 'for', 'Geeks']
res=" ".join(lst)
print(res)
for i in lst:
    print(i,end=" ")

Geeks for Geeks
Geeks for Geeks

In [39]:
lst="Geeks for Geeks"
res=lst.split()
print(type(res))
import re

patt="[a-zA-Z]+"
match=re.findall(patt,lst)
print(match)

<class 'list'>
['Geeks', 'for', 'Geeks']

In [40]:
# convert given string to  list
# 1) import re
# 2) split method

In [41]:
# convert given list to string
# " ".join method
# for loop

In [42]:
# find common value of two list
# for i in lst     for j in lst
# condition == then append print statement

In [43]:
# sub space with help of re
# re and \s+ then sub print statement  re.sub(b," ",a)

In [47]:
inputs = [[('bhanu', 'html'),
         ('bhanu', 'php'),
         ('suma', 'python'),
         ('rasmi', 'java'),
        ('suma', 'html/csscss')]]

dicts={}
for i in inputs:

[('bhanu', 'html'), ('bhanu', 'php'), ('suma', 'python'), ('rasmi', 'java'), ('suma', 'html/csscss')]

In [4]:
count=0
data=" my name is deepak"
for i in data:
    if i==" ":
        count+=1
    else:
        None
print(count)

4

In [5]:
data=[10,20,30,40,20,30,50]
dicts={}
for i in data:
    if i==10:
        count+=1
print(count)

2

In [7]:
inputs = [[('bhanu', 'html'),
         ('bhanu', 'php'),
         ('suma', 'python'),
         ('rasmi', 'java'),
        ('suma', 'html/csscss')]]
dicts={}
for i in inputs:
    for key,value in i:
        if key in dicts:
            dicts[key].append(value)
        else:
            dicts[key]=[value]
print(dicts)

{'bhanu': ['html', 'php'], 'suma': ['python', 'html/csscss'], 'rasmi': ['java']}

In [23]:
data=[('good','coder'),('name','deepak')]
a={}
for key,value in data:
    if key in a:
#         a[key].append(value)
        None
    else:
        a[key]=value
print(a)

{'good': 'coder', 'name': 'deepak'}

In [22]:
for i in range(1,10):
    for j in range(10-i):
        print(" ",end="")
    for k in range(i):
        print("* ",end="")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [34]:
a=["app","bo"]
b=["le","y"]
res=a[0]+b[0],a[1]+b[1]
print(list(res))

['apple', 'boy']

In [40]:
a = ["app", "bo"]
b = ["le", "y"]
res=[k+v for k,v in zip(a,b)]
res

['apple', 'boy']

In [41]:
a=(10,20,30,40,50)
b=(50,70,80,10)
res=tuple(a+b)
res

(10, 20, 30, 40, 50, 50, 70, 80, 10)

In [51]:
lst=[a*2 for a in a]

In [54]:
a=(10,20,30,40,50)
b=(50,70,80,10)
lst=[]
for i in list(a):
    for j in list(b):
        if i==j:
            lst.append(i)
print(lst)

[10, 50]

In [7]:
data=["good ","coder"]
res=[len(x) for x in data]
res

[5, 5]

In [17]:
data="my name is\tnp deepak\t"
lst=[]
for i in data:
    if i not in "\tnp":
        print(i,end="")

my ame is deeak

In [3]:
n=int(input('Enter the number: '))
a,b=0,1
c=0
for i in range(n):
    a=b
    b=c
    c=a+b
    print(c,end=" ")
# fibonaccie

Enter the number: 12
1 1 2 3 5 8 13 21 34 55 89 144

In [8]:
n=int(input('Enter the number: '))
data=n
count=0
while n>0:
    digit=n%10
    count=count*10+digit
    n//=10
if data==count:
    print('it is palidrom')
else:
    print('not')

Enter the number: 55
it is palidrom

In [21]:
data=int(input('Enter the number'))
n=data
reverse=0
while (data>0):
    dig=data%10
    reverse=reverse*10+dig
    data//=10
if n==reverse:
    print(f'{reverse} it is palidroms')
else:
    print(f'{reverse} not palidroms')

Enter the number121
121 it is palidroms

In [23]:
def data(n):
    data=n
    reverse=0
    while(n>0):
        dig=n%10
        reverse=reverse*10+dig
        n//=10
    if data==reverse:
        print(f"{reverse} it is palidroms")
    else:
        print(f"{reverse} not palidrom")
n=int(input('Enter the number: '))
data(n)

Enter the number: 12345
54321 not palidrom

In [85]:
a=" deepak                   sahani                  good coder"
import re

for i in a:
    patt="\s+"
    match=re.sub(patt," ",a)
print(match)

# lst=[]

res=a.split()
res

 deepak sahani good coder

['deepak', 'sahani', 'good', 'coder']

In [40]:
a=[10,55,89,67,78,100,5+3j,"string",12.00]
even=[]
odd=[]
complexs=[]
for i in a:
    if isinstance(i,int) and i%2==0:
        even.append(i)
    elif isinstance (i,int) and i%2!=0:
        odd.append(i)
    elif isinstance(i,complex):
        complexs.append(i)
    else:
        print('st')
print(even)
print(odd)
print(complexs)

st
st
[10, 78, 100]
[55, 89, 67]
[(5+3j)]

In [29]:
a=3+5j
print(a)

(3+5j)

In [33]:
data=[10,[20],[30]]
lst=[]
for i in data:
    if isinstance(i,list):
        for j in i:
            lst.append(j)
    else:
        lst.append(i)
print(lst)

[10, 20, 30]

In [9]:

p=[]
def data(lst):
    for i in lst:
        if isinstance(i,list):
            data(i)
        else:
            p.append(i)

datai=[10,[20],[[50]],[[[[[100],[20]]]]]]
data(datai)
print(p)

[10, 20, 50, 100, 20]

In [ ]:
lst=[]
def mydata(lst):
    for i in lst:
        if isinstance(i,list):
            mydata(i)
        else:
            lst.append(i)
a=[[50,12],[[56]],[[89]]]
mydata(a)
print(lst)

In [18]:
a=(12,23,25,45)
b=(45,12,85,99,23)
lst=[]
for i in a:
    if i not in b:
        print(i)
for i in b:
    if i not in a:
        print(i)

25
85
99

In [22]:
res=[i for i in a if i not in b]+[i for i in b if i not in a]
res

[25, 85, 99]

In [24]:
res=[i for i in a for j in b if i==j]
res

[12, 23, 45]

In [31]:
data="my name is deepak shani1245"
for i in data:
    if i.isdigit():
        print(i)
    elif i.isalpha():
        print(i)

m
y
n
a
m
e
i
s
d
e
e
p
a
k
s
h
a
n
i
1
2
4
5

In [16]:
data=[12,"my","name","is","raman"]
for i in data:
    if isinstance(i,str):
        print(i,end=" ")

my name is raman

In [2]:
data = [12, "my", "name", "is", "raman"]
mydata=[10,20,30]

for i in range(len(data)):
    print(i,data[i])

print("===============================================================")  

res=dict(zip(data,mydata))
print(res)

print("===============================================================")
    
print(tuple(data+mydata))
    
for key,value in zip(data,mydata):
    print(key,value)

0 12
1 my
2 name
3 is
4 raman
===============================================================
{12: 10, 'my': 20, 'name': 30}
===============================================================
(12, 'my', 'name', 'is', 'raman', 10, 20, 30)
12 10
my 20
name 30

In [64]:
data=[12,20,23,45,60,"myname is deepak",3+5j,2.00,{1,2,3}]
print(type(data))
lst=[]
for i in data:
    if isinstance(i,int):
        lst.append(i)
print(lst)

<class 'list'>
[12, 20, 23, 45, 60]

In [52]:
data=complex(2,5)
print(data)

(2+5j)

In [69]:
lst="12,20,23,45,60,'myname is deepak',3+5j,2.00,{1,2,3}"
for i in lst:
    if i.isdigit():
        print(i,end="")

122023456035200123

In [23]:
data=[12,20,23,45,60,"my name ,is deepak",3+5j,2.00,{1,2,3}]
lst=[]
for i in data:
    if isinstance(i,str):
        lst.append(i)
print(lst)

['my name ,is deepak']

In [19]:
data="my .name,is                deepak                          "
import re
patt="[a-z]+"
match=re.findall(patt,data)
print(match)


patt="\s+"
match=re.sub(patt," ",data).replace(",","").replace(".","")
print(match)

['my', 'name', 'is', 'deepak']
my nameis deepak

In [28]:
data="my .name, is deepak                          "
for i in data:
    if i not in ".,".strip():
        print(i,end="")

my name is deepak

In [5]:
a="my name is deepak"+" "+"my name is neeta"
print(a)

my name is deepak my name is neeta

In [10]:
a=[10,20,40]
b=[30,40,10]

res=[i for i in a for j in b if i==j]
res

[10, 40]

In [35]:
data = [10, [[20]], [30], 10,[[[[[[[[25]]]]]]]]]

In [28]:
data=[10,20,30,10,20,55]
lst=[]
for i in data:
    if i not in lst:
        lst.append(i)
        
print(lst)

[10, 20, 30, 55]

In [1]:
a=10
print(a)

10

In [10]:
data=[10,20,[50],[30],[50]]
lst=[]
for i in data:
    if isinstance(i,list):
        for item in i:
            if item  not in lst:
                lst.append(item)
    else:
        lst.append(i)
print(lst)

[10, 20, 50, 30]

In [13]:
data="my name is deepak@#$%"
for i in data:
    if i not in "@#$%":
        print(i,end="")

my name is deepak

In [17]:
data=input('Enter the number: ')
s=0
for i in data:
    if i==" ":
        s+=1
print(s)

Enter the number: my name is deepak
3

In [7]:
data=[12,"deepak"]
for i in data:
    if isinstance(i,int) or isinstance(i,str):
        print(i)

12
deepak

In [19]:
a=[25,30]
b=[45,65,25]
for i in a:
    for j in b:
        if i==j:
            print(i)

25

In [21]:
data="my name is deepak@#&"
for i in data:
    if i in "@#&":
        print(i)

@
#
&

In [35]:
data=[12,25,77,99]
for i in data:
    if i%2==0:
        print(i)
a="12545878"
res=a.replace("","/")
print((res))

12
/1/2/5/4/5/8/7/8/

In [50]:
a=["deepak",'@#']
for i in a:
    if i in "@#":
        print(i)

@#

In [48]:
data="my name is deepak this is my idnumber 400101"
for i in data:
    if i.isdigit():
        print(i,end="")

400101

In [21]:
a=["deepak",'@#',25,3+5j]
for i in a:
    if isinstance(i,int)  or isinstance(i,complex) or i not in "@#":
        print(i)
print("=========================")

for i in a:
    if i not in (["@#",3+5j]):
        print(i)

deepak
25
(3+5j)
=========================
deepak
25

In [5]:
for i in range(1,10):
    for j in range(10-i):
        print(" ",end="")
    for k in range(i):
        if i%2!=0:
            print(f"{i} ",end="")
    print()

         1

       3 3 3

     5 5 5 5 5

   7 7 7 7 7 7 7

 9 9 9 9 9 9 9 9 9

In [83]:
data=["apple","mango","banana","coder"]
for i in data:
    data=i[0]
    print(data,end="")

ambc

In [3]:
data=["apple","mango","banana","coder"]
res=map(lambda a:a.capitalize(),data)
print(list(res))
lst=[]
for i in data:
    lst.append(i.capitalize())
print(lst)
data=map(lambda a:a.upper(),data)
print(list(data))

['Apple', 'Mango', 'Banana', 'Coder']
['Apple', 'Mango', 'Banana', 'Coder']
['APPLE', 'MANGO', 'BANANA', 'CODER']

In [76]:
mydata=["apple","mango","banana","Coder"]
for i in mydata:
    if i.islower():
        print(i)

apple
mango
banana

In [50]:
data=[2,4,5]
res=list(map(lambda a:a*2,data))
print(res)

[4, 8, 10]

In [55]:
a=[10,20,30]
b=["deepak","sahani",25,45]
res=dict(zip(a,b))
res

{10: 'deepak', 20: 'sahani', 30: 25}

In [56]:
a=["app"]
b=["le"]
res=[k+v for k,v in zip(a,b)]
res

['apple']

In [58]:
lst=[45,560]
data=[100,200,"deepak"]
res=tuple(lst+data)
res

(45, 560, 100, 200, 'deepak')

In [41]:
data=["deepak","sahani"]
lst=[]
for i in data:
    if i=="deepak":
        lst.append(i.capitalize())
print(lst)

import os
data=os.listdir()
data
# a=os.getcwd()
# print(a)
# with open(r"C:\Users\ARVIND\deepak.ipynb","r") as e:
#     data=e.read()
#     print(data,end="")

data=os.scandir(r"C:\\Users\\ARVIND\\OneDrive\\Desktop\\Basic java")
print(list(data))

['Deepak']
[<DirEntry 'conditional.java'>, <DirEntry 'deepak.class'>, <DirEntry 'firstit.java'>, <DirEntry 'firstprogram.class'>, <DirEntry 'firstprograming.java'>, <DirEntry 'ifelse.java'>, <DirEntry 'practical.java'>, <DirEntry 'program2.java'>, <DirEntry 'programers.class'>, <DirEntry 'raj.class'>]

In [39]:
with open(r"C:\\Users\\ARVIND\\OneDrive\\Desktop\\Basic java\\conditional.java","r") as e:
    data=e.read()
    print(data)

import java.util.Scanner;
/*class raj{

	public static void main(String[] args){

	Scanner sc=new Scanner(System.in);
	System.out.println('Enter the number: ')
	int a=sc.nextInt();
	int b=sc.nextInt();
	if (a>b){

	System.out.println(a+" is greater");

	}
	else{
		System.out.println(b+" is greater ");
	}

	}
}*/

/*class raj{

	public static void main(String[] args){

	Scanner sc=new Scanner(System.in);
	System.out.println("Enter the number: ");
	int a=sc.nextInt();
	if (a%2==0)
	{
		System.out.println(a+"it is even number");
		if(a%7==0)
		{
			System.out.println("it is multple of 7");
		}
		else
		{
		System.out.println("it is not multiple of 7");
		}

	}
	else
	{
		System.out.println("it is odd number");
	}

	}
}*/

/*class raj{

	public static void main(String[] args){

	Scanner sc=new Scanner(System.in);
	System.out.println("Enter the number:");
	int a=sc.nextInt();
	if (a==1){

	System.out.println("Namastey");

	}
	else if(a==2){
		System.out.println("Deepak");
	}
	else if(a==3){
		System.out.println("good evening");

	}
	else{
		System.out.println("good night");
	}

	}
}*/

class raj{

	public static void main(String[] args){

	Scanner sc=new Scanner(System.in);
	System.out.println("Enter the number: ");
	int a=sc.nextInt();
	int b=sc.nextInt();

	System.out.println("1:for addition");
	System.out.println("2:for sub");
	System.out.println("3:for mul");
	System.out.println("4:for div");

	int c=sc.nextInt();

	if (c==1){

	System.out.println("it is addition of two"+(a+b));

	}
	else if(c==2){
		System.out.println(" it is subraction"+(a-b));
	}
	else if(c==3){
		System.out.println("it is multiplications"+(a*b));
	}
	else{
		System.out.println("invalid data");
	}

	}
}

In [49]:
data=["myname"]
p=["coder"]
res=dict(zip(data,p))
res

{'myname': 'coder'}

In [70]:
data=["myname","my"]
p=["coder"]
lst=[]
for i in data:
    for j in p:
        lst.append(i[1][0]) or lst.append(j[1])
print(lst)

['y', 'o', 'y', 'o']

In [33]:
data=input('Enter the number: ')
lst=[]
for i in data:
    lst.append(int(i))
print(sum(lst))

Enter the number: 7738669775
65

In [88]:
data=input('Enter the sum of number: ')
t=0
for i in data:
    t+=int(i)
print(t)
print("==============")
data=[4,5]
total=0
for i in data:
    total+=i
print(total)

Enter the sum of number: 45789566
50
==============
9

In [45]:
data=[4,5]
print(sum(data))

9

In [68]:
# this program for count method
data=input('Enter the sum number: ')
total=0
for i in data:
    total+=1
print(total)

print("===========================")

# this is for sum of number
data=input('Enter the sum number: ')
total=0
for i in data:
    total+=int(i)
print(total)

print("===========================")

# this is also count list of number
lst=[12,23,45]
count=0
for i in lst:
    count+=1
print(count)

Enter the sum number: 45
2
===========================
Enter the sum number: 78
15
===========================
3

In [76]:
data=[12,45,"ram",3+5j]
sums=0

for i in data:
    if isinstance(i,int):
        sums+=i
print("total",sums)

total 57

In [66]:
data=[10,20,[[50]]]
lst=[]
for i in data:
    if isinstance(i,int):
        lst.append(i)
    else:
        if isinstance(i,list):
            for k in i:
                for j in k:
                    lst.append(j)
print(lst)

[10, 20, 50]

In [36]:
data=[12,35,56,[45,77],[89,78]]
lst=[]
for i in data:
    if isinstance(i,int):
        lst.append(i)
    elif isinstance(i,list):
        for p in i:
            lst.append(p)
print(lst)

[12, 35, 56, 45, 77, 89, 78]

In [35]:
import string
a=string.punctuation
data=input('Enter the number: ')
f=""
for i in data:
    if i not in a:
        f+=i
print(f)

Enter the number: my name .,.;'
my name

In [12]:
data=input('Enter the character: ')

for i in data:
    if i.lower() in "aeiou":
        print(f" {i} it is vowel")
    else:
        print(f"{i} is not vowel")

Enter the character: a
 a it is vowel

In [33]:
data={10,50,90}
data.update({78,99})
data.discard(78)
data

{10, 50, 90, 99}

In [1]:
data=input('Enter the number: ')
lst=[]
for i in data:
    lst.append(int(i)+1)
print(lst)

# it is count method
count=0
for i in data:
    count+=1
print(count)

# it is sum of number
total=0
for i in data:
    total+=int(i)
print(total)

Enter the number: 1234
[2, 3, 4, 5]
4
10

In [20]:
data=input('Enter the character: ')
count=0
for i in data:
    count+=1
print(count)

Enter the character: my name is deepak
17

In [7]:
i=0
while i<=20:
    if(i%2==0):
        print(f'{i} it is even number',end=" ")
    else:
        print(f'{i} not',end=" ")
    i+=1
    
for i in range(20):
    if (i%2==0):
        print('Even',end=" ")
    else:
        print('NOT',end=" ")

0 it is even number 1 not 2 it is even number 3 not 4 it is even number 5 not 6 it is even number 7 not 8 it is even number 9 not 10 it is even number 11 not 12 it is even number 13 not 14 it is even number 15 not 16 it is even number 17 not 18 it is even number 19 not 20 it is even number Even NOT Even NOT Even NOT Even NOT Even NOT Even NOT Even NOT Even NOT Even NOT Even NOT

In [26]:
data=["arvind","deepak"]
lst=data[::-1]
lst
for i in lst:
    a=i.upper()
    print(a[-1])

K
D

In [63]:
data="my name is..deepak/"

my name is..deepak/

In [20]:
data=input('Enter the number: ')
ad=int(data[::-1])
if int(data)==ad:
    print(f'{data} it is palidrom')
else:
    print(f'{data} not palidrom')

Enter the number: 1
1 it is palidrom

In [41]:
data=input('Enter the number: ')
ad=int(data[::-1])
if int(data)==ad:
    print(f'{data} it is palidrom number')
else:
    print(f'{data} not palidroms number')

Enter the number: 5
5 it is palidrom number

In [19]:
data=["apple","mango","orange",25,3+5j]
# lst=[]
# for i in data:
#     lst.append(i.center(20))
# print(lst)

# for i in data:
#     if str(i).isalnum():
#         print(i)
# for i in data:
#     if str(i).isalnum():
#         pass
#     else:
#         print(i)

for i in data:
    if i not in ([3+5j,"apple",25]):
        print(i)
print("========================")
for i in data:
    if str(i).isdigit():
        print(i)

mango
orange
========================
25

In [89]:
lst=[]
for i in data:
    if isinstance(i,int) or isinstance(i,str):
        print(i)

apple
mango
orange
25

In [23]:
data=("good","coder")
test=" desi "

item=test.join(data)
item

'good desi coder'

In [29]:
data=lambda a,b:a*b
print(data())

20

In [14]:
data="data"
for i in data:
    if i=="t":
        continue
    print(i)

d
a
a

In [15]:
for i in data:
    if i=="t":
        break
    print(i)

d
a

In [30]:
# write a program to check prime or note !

data=int(input('Enter the number: '))
count=0
for i in range(1,data+1):
    if data%i==0:
        count+=1
if count==2:
    print('it is prime number')
else:
    print('it is not prime number')

Enter the number: 7
it is prime number

In [35]:
data=int(input('Enter the number: '))
total=0
# for i in range(1,data+1):
#     total+=i
# print(total)

# print("================================")

for i in range(1,data+1):
    total+=i
    print(total)
print(total)

Enter the number: 5
1
3
6
10
15
15

In [25]:
data="mynameis anney"
n=0
for i in data:
    if i==" ":
        n+=1
print(n)

1

In [43]:
data=[1,2,3,4,5]
count=0
for i in data:
    count+=1
print(count)

5

In [52]:
lst=[" ",12,35," ","deepak",[],[],[],3+5j]
count=0
for i in lst:
    if i==3+5j:
        count+=1
print(count)

1

In [56]:
lst=[12,45,"deepak",3+5j]
for i in lst:
    if isinstance(i,int) or isinstance(i,str):
        print(i)

12
45
deepak

In [59]:
data=int(input('Enter the number:'))
count=0
for i in str(data):
    count=count+int(i)
print(count)

Enter the number:123
6

In [ ]:
data=int(input('Enter the number: '))
count=0
while(data>0):
    data=data//10
    count+=1
print(count)

In [9]:

data = int(input('Enter the number: '))
count = 0

# Handle negative numbers
if data < 0:
    data = abs(data)  # Convert negative number to positive

while data > 0:
    data = data // 10
    count += 1

print(count)

Enter the number: 56
2

In [27]:
data=123
print(data)

123

In [53]:
data=[12,23,44]
count=0
for i in data:
    count+=i
print(count)

79

In [7]:
data=int(input('Enter the number: '))
count=0
if data<0:
    data=abs(data)
while data>0:
    data=data//10
    count+=1
print(count)

Enter the number: 456
3

In [13]:
data=input('Enter the number: ')
total=0
for i in data:
    total+=int(i)
print(total)

Enter the number: 12
3

In [24]:
data=[12,14,35]
for i in data:
    p="".join(str(i))
    print(p,end=" ")

12 14 35 35

In [36]:
for i in range(1,11):
    if(i%2!=0):
        data=i*2
        print(f"{i} x 2=",data)

1 x 2= 2
3 x 2= 6
5 x 2= 10
7 x 2= 14
9 x 2= 18

In [16]:
data=int(input('Enter the numbers: '))
count=0
for i in range(1,data+1):
    if(data%i==0):
        count+=1
if(count==2):
    print(f'{data} it is prime number')
else:
    print('{data} it is not prime number')

Enter the numbers: 3
3 it is prime number

In [28]:
data=int(input('Enter the numbers: '))
a,b=0,1
count=0
for i in range(data+1):
    a=b
    b=count
    count=a+b
    print(count,end=" ")

Enter the numbers: 7
1 1 2 3 5 8 13 21

In [16]:
for i in range(1,11):
    for j in range(11-i):
        print(" ",end="")
    for k in range(1,i):
        print(f" {k}",end="")
    print()
for i in range(10,0,-1):
    for j in range(10-i):
        print(" ",end="")
    for k in range(1,i):
        print(f"",end="")
    print()

          1
         1 2
        1 2 3
       1 2 3 4
      1 2 3 4 5
     1 2 3 4 5 6
    1 2 3 4 5 6 7
   1 2 3 4 5 6 7 8
  1 2 3 4 5 6 7 8 9
 1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7 8
   1 2 3 4 5 6 7
    1 2 3 4 5 6
     1 2 3 4 5
      1 2 3 4
       1 2 3
        1 2
         1

In [ ]:
rem=0
rev=0
data=int(input('Enter the number: '))
while(data>0):
    rem=data%10
    rev=rev*10+rem
    data=data//10
print(rev)

In [21]:
data="abc"
mydata="pqr"
# out="apbqcr"
def data(data,mydata):
    res=data[0]+mydata[0]+data[1]+mydata[1]+data[2]+mydata[2]
    return res
print(data("abc","pqr"))
print(data("mno","pqr"))

apbqcr
mpnqor

In [29]:
# a = "ab", b = "pqrs"
def mydata(a,b):
    res=a[0]+b[0]+a[1]+b[1]+b[2:4]
    return res
print(mydata("ab","pqrs"))

apbqrs

In [30]:
def greet(a,b):
    res=a[0]+b[0]+a[1]+b[1]+a[2:4]
    return res
greet("abcd","pq")

'apbqcd'

In [109]:
def common(a,b):
    lst=[]
    for i in a:
        for j in b:
            if i==j:
                if i not in lst:
                    lst.append(i)
        return lst
print(common("ABCABC","ABC"))

['A']

In [54]:
a="ABCABC"
b="ABC"
lst=[]
for i in a:
    for j in b:
        if i==j:
            if i not in lst:
                lst.append(i)
print(lst)
res="".join(lst)
res

['A', 'B', 'C']

'ABC'

In [74]:
data="ABCABC"
b="ABC"
lst=[]
for i in data:
    for j in b:
        if i==j:
            if i not in lst:
                lst.append(i)
print("".join(lst))

ABC

In [72]:
data=[1,2,3,3,4,58,66,1,2]
lst=[]
for i in data:
    if i not in lst:
        lst.append(i)
print(lst)

[1, 2, 3, 4, 58, 66]

In [24]:
candies = [2,3,5,1,3]
lst=[]
data=max(candies)
extra=3
for i in candies:
    if i+extra>=data:
        print(True)
    else:
        print(False)

True
True
True
False
True

In [31]:
candies = [4,2,1,1,2]
extra=1
data=max(candies)
lst=[]
for i in candies:
    if i+extra>=data:
        lst.append(True)
    else:
        lst.append(False)
print(lst)

[True, False, False, False, False]

In [39]:
def data(candies, extra):
    data = max(candies)
    lst = []
    for i in candies:
        if i + extra >= data:
            lst.append(True)
        else:
            lst.append(False)
    return lst

candies = [4, 2, 1, 1, 2]
extra = 1
result = data(candies, extra)
print(result)

[True, False, True]

In [42]:
def great(candies,extra):
    lst=[]
    data=max(candies)
    extra=10
    for i in candies:
        if i+extra>=data:
            lst.append(True)
        else:
            lst.append(False)
    return lst
candies = [12,1,12]
res=great(candies,extra)
print(res)

[True, False, True]

In [87]:
s = "the   sky is blue"
import re
patt="\s+"
match=re.sub(patt," ",s)
print(match)

the sky is blue

In [89]:
s = "  hello world  "
print(len(s))
data=s.strip()
print(data)
print(len(data))

15
hello world
11

In [93]:
nums = [1,2,3,4,5]
data=nums[0]<nums[1]<nums[2]<nums[3]<nums[4]
print(data)

True

In [98]:
chars = ["a","a","b","b","c","c","c"]
dicts={}
for i in chars:
    dicts[i]=chars.count(i)
print(dicts)

{'a': 2, 'b': 2, 'c': 3}

In [106]:
lst=[]
for i in dicts.items():
    lst.append(i)
print(list(lst))

[('a', 2), ('b', 2), ('c', 3)]

In [3]:
# revere number

rem=0
rev=0
data=int(input('Enter the number: '))
temp=data
while(temp>0):
    rem=temp%10
    rev=rev*10+rem
    temp=temp//10
if(data==rev):
    print('it is palidrom number')
else:
    print('not palidroms')

Enter the number: 121
121
121
it is palidrom number

In [8]:
data=int(input('Enter the number: '))
count=0
for i in range(1,data+1):
    if(data%i==0):
        count+=1
if(count==2):
    print('it is prime number')
else:
    print('it is not prime number')

Enter the number: 153
it is not prime number

In [12]:
data=input('Enter the number: ')
count=0
for i in data:
    if i=="i":
        count+=1
print("the total i is: ",count)

Enter the number: my name is deepak sahani
the total i is:  2

In [2]:
data=int(input('Enter the number: '))
sums=0
for i in range(1,data+1):
    sums+=int(i)
print(sums)

Enter the number: 6
21

In [6]:
def add(a,b):
    return (a*b)-(a+b)
add(4,5)

11

In [14]:
def add(a,b):
    data=a*b
    return data
print(add(4,5))
print(add(4,9))
print(add(4,10))

20
36
40

In [19]:
def data(fname,lastname):
    return fname+" "+lastname
data("deepak","sahani")

'deepak sahani'

In [35]:
lst=[]

def coder(fname="deepak",lastname="sahani"):
    return fname+" "+lastname+" "+"mr.deepaksahani@gmail.com"
data=coder()
print(data)
count=0
for i in data:
    if i==" ":
        count+=1
print(count)

deepak sahani mr.deepaksahani@gmail.com
2

In [58]:
def square(num):
    return num*num
for i in [1,2,3]:
    data=square(i)
    print(data)

1
4
9

In [83]:
def coders(fname="deepak",lastname="dasing desi"):
    print(fname)
    print(lastname)
    for i in range(1,20):
        if i==7:
            break
        print(i)
coders()

deepak
dasing desi
1
2
3
4
5
6

In [95]:
def ktmartial():
    count=0
    for i in data:
        count+=1
    return count
data=[1,2,3,4,5]
ktmartial()

5

In [5]:
class mom:
    def __init__(self,name,lastname):
        self.name=name
        self.lastname=lastname
    
a=mom("deepak","sahani")
a.name

'deepak'

In [6]:
a.lastname

'sahani'

In [34]:
class father:
    def __init__(self,name,lastname):
        self.name=name
        self.lastname=lastname
    def show(self):
        return (f"first name is {self.name} and lastname is {self.lastname}")
a=father("deepak","sahani")
a.show()

'first name is deepak and lastname is sahani'

In [40]:
class main:
    def __init__(self,age,name,lastname):
        self.age=age
        self.name=name
        self.lastname=lastname
    def show(self):
        return (f"first name is {self.name} and age is {self.age} and also lastname {self.lastname}")
    
    
class data:
    def __init__(self,designation,company,salary):
        self.designation=designation
        self.company=company
        self.salary=salary
    def show2(self):
        return (f"designation is {self.designation} and company name is {self.company} also {self.salary}")

a=main(25,"deepak","sahani")
b=data("python developer","mnc",2500)
b.show2()
a.show()

'first name is deepak and age is 25 and also lastname sahani'

In [39]:
b.show2()

'designation is python developer and company name is mnc also 2500'

In [43]:
class A:
    def show(self):
        print("good coder")
class B(A):
    def show2(self):
        print("my name is deepak sahani")
obj=B()
obj.show2()
obj.show()

my name is deepak sahani
good coder

In [44]:
def data(a,b):
    print(a)
data(2,5)

'2 and 5'

In [6]:
n=int(input('Enter the number: '))
count=0
for i in range(1,n+1):
    if(n%i==0):
        count+=1
if(count==2):
    print('it is prime number')
else:
    print('it is note prime number')

Enter the number: 4
it is note prime number

In [10]:
n=int(input('Enter the number: '))
count=0
i=1
while(n>=i):
    if(n%i==0):
        count+=1
    i+=1
if(count==2):
    print('it is prime number')
else:
    print('it is note prime number')

Enter the number: 2
it is prime number

In [11]:
# palidrom
n=int(input('Enter the number: '))
rem=0
rev=0
temp=n
while(temp>0):
    rem=temp%10
    rev=rev*10+rem
    temp=temp//10
if(n==rev):
    print('it is palidroms')
else:
    print('it is note palidroms')

Enter the number: 125
it is note palidroms